.col-sm-1-5,.col-sm-9-5 {
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px
}

.col-sm-1-5 {
    float: left;
    width: 12.33333333%
}

.col-sm-9-5 {
    float: left;
    width: 79.33333333%
}