{% extends 'base/_layout_content.html' %}
{% load staticfiles %}

{% block content %}
    <div class="wrapper wrapper-content">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>报名信息</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="form-group">
                </div>
                <div class="form-group text-center">
                    <div class="form-inline">
                        活动：
                        <div class="input-group" style="width: 200px;">
                            <input type="text" class="form-control" id="raId" data-id="{{ raId }}"
                                   style="width: 200px;"
                                   value="{{ acTitle }}"
                                   autocomplete="off">
                            <div class="input-group-btn">
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                </ul>
                            </div>
                        </div>
                        创建日期：
                        <input type="text" id="datemin" class="laydate-icon form-control layer-date">-
                        <input type="text" id="datemax" class="laydate-icon form-control layer-date">
                        <button id="btnSearch" class="btn btn btn-primary" type="button">
                            <i class="fa fa-search"></i> 搜索
                        </button>
                    </div>
                </div>
                <div class="jqGrid_wrapper">
                    <table id="table_list"></table>
                    <div id="pager_list"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    {% include 'include/jslist.html' %}
    {% include 'include/search.html' %}

    <script>
        function addModel() {
            $("#btnAdd").button("loading");
            window.location.href = "{% url 'activity:activity_add' %}";
        }

        function searchData() { //搜索
            var json = {
                raId: $("#raId").attr('data-id'),
            };
            XPage.Search(json);
        }

        $(document).ready(function () {
            var config = {
                title: '报名列表',
                url: '{% url "activity:sign_list" %}',
                multiselect: false,
                colNames: ['id', '活动', '姓名', '联系电话', '车牌号', '报名人数', '创建时间'],
                colModel: [
                    {name: 'id', index: 'id', width: 60, key: true, hidden: true},
                    {
                        name: 'acTitle', index: 'acTitle', width: 60,
                        formatter: function (cellValue, options, rowObject) {
                            return "<a href='/activity/?raId=" + rowObject.raId + "'>" + rowObject.acTitle + "</a>";

                        }
                    },
                    {name: 'name', index: 'name', width: 80},
                    {name: 'linkPhone', index: 'linkPhone', width: 80},
                    {name: 'carNo', index: 'carNo', width: 80},
                    {name: 'signNum', index: 'signNum', width: 50},
                    {name: 'createdTime', index: 'createdTime', width: 80},
                ]
            };
            JucheapGrid.Load(config);
            $("#btnSearch").bind("click", searchData);
        });
    </script>

    <script type="text/javascript">
        laydate({
            elem: '#datemin',
            event: 'focus'
        });
        laydate({
            elem: '#datemax',
            event: 'focus'
        });
    </script>

{% endblock %}