{% extends 'base/_layout_content.html' %}
{% load staticfiles %}

{% block content %}
    <div class="wrapper wrapper-content">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>门店信息</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="form-group">
{#                    <button id="btnAdd" type="button" class="btn btn-primary " onclick="addModel()"><i#}
{#                            class="fa fa-check"></i>&nbsp;添加#}
{#                    </button>#}
{#                    <button id="btnDel" type="button" class="btn btn-danger " onclick="delData()">#}
{#                        <i class="fa fa-dedent"></i>&nbsp;&nbsp;<span class="bold">删除</span>#}
{#                    </button>#}
                </div>
                <div class="form-group text-center">
                    <div class="form-inline">
                        名称：
                        <div class="input-group" style="width: 200px;">
                            <input type="text" class="form-control" id="shopNo" data-id="{{ shopNo }}"
                                   style="width: 200px;"
                                   value="{{ shopName }}"
                                   autocomplete="off">
                            <div class="input-group-btn">
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                </ul>
                            </div>
                        </div>
                        创建日期：
                        <input type="text" id="datemin" class="laydate-icon form-control layer-date">-
                        <input type="text" id="datemax" class="laydate-icon form-control layer-date">
                        <button id="btnSearch" class="btn btn btn-primary" type="button">
                            <i class="fa fa-search"></i> 搜索
                        </button>
                    </div>
                </div>
                <div class="jqGrid_wrapper">
                    <table id="table_list"></table>
                    <div id="pager_list"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    {% include 'include/jslist.html' %}
    {% include 'include/search.html' %}

    <script>
{#        function addModel() {#}
{#            $("#btnAdd").button("loading");#}
{#            window.location.href = "{% url 'shop:shop_add' %}";#}
{#        }#}
{#        function delData() { //删除#}
{#            XPage.DelData("{% url 'shop:shop_delete' %}");#}
{#        }#}
        function searchData() { //搜索
            var json = {
                shopNo: $("#shopNo").attr('data-id'),
                createStart: $("#datemin").val(),
                createEnd: $("#datemax").val()
            };
            XPage.Search(json);
        }

        $(document).ready(function () {
            var config = {
                title: '门店列表',
                url: '{% url "shop:shop_list" %}',
                postData: {'shopNo': $("#shopNo").attr('data-id')},
                multiselect: false,
                colNames: ['id','名称', '联系人', '电话', '地址', '创建时间'],
                colModel: [
                    {name: 'id', index: 'id', width: 60, key: true, hidden: true},
{#                    {name: 'shopNo', index: 'shopNo', width: 60},#}
                    {
                        name: 'shopName', index: 'shopName', width: 100,
                        formatter: function (cellValue, options, rowObject) {
                            return "<a href='/shop/edit/" + rowObject.shopNo + "/'>" + rowObject.shopName + "</a>";
                        }
                    },
                    {name: 'linkman', index: 'linkman', width: 40},
                    {name: 'phone', index: 'phone', width: 40},
                    {name: 'address', index: 'address', width: 100},
{#                    {#}
{#                        name: '管理员', width: 40,#}
{#                        formatter: function (cellValue, options, rowObject) {#}
{#                            return "<a href='/shop/shopmanager/?shopId=" + rowObject.id + "'>查看</a>";#}
{#                        }#}
{#                    },#}
                    {name: 'createdTime', index: 'createdTime', width: 80}
                ]
            };
            JucheapGrid.Load(config);
            $("#btnSearch").bind("click", searchData);
        });
    </script>

    <script type="text/javascript">
        laydate({
            elem: '#datemin',
            event: 'focus'
        });
        laydate({
            elem: '#datemax',
            event: 'focus'
        });
    </script>

{% endblock %}