{% extends 'base/_layout_content.html' %}
{% load staticfiles %}

{% block content %}
    <div class="wrapper wrapper-content">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>结算信息</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="form-group">
                </div>
                <div class="form-group text-center">
                    <div class="form-inline">
                        门店：
                        <div class="input-group" style="width: 200px;">
                            <input type="text" class="form-control" id="shopNo" data-id="{{ shopNo }}"
                                   style="width: 200px;"
                                   value="{{ shopName }}"
                                   autocomplete="off"/>
                            <div class="input-group-btn">
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                </ul>
                            </div>
                        </div>
                        日期：
                        <input type="text" id="datemin" class="laydate-icon form-control layer-date"/>
                        <button id="btnSearch" class="btn btn btn-primary" type="button">
                            <i class="fa fa-search"></i> 搜索
                        </button>
                    </div>
                </div>
                <div class="jqGrid_wrapper">
                    <table id="table_list"></table>
                    <div id="pager_list"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    {% include 'include/jslist.html' %}
    {% include 'include/search.html' %}

    <script>
        function searchData() { //搜索
            var json = {
                shopNo: $("#shopNo").attr('data-id'),
                payTime: $("#datemin").val(),
            };
            XPage.Search(json);
        }

        function statsDetail(shopNo) { //查询明细
            var payTime = $("#datemin").val();
            window.location.href = "/stats/shop/?shopNo=" + shopNo + '&payTime=' + payTime;
        }

        $(document).ready(function () {
            var config = {
                title: '门店列表',
                url: '{% url "stats:stats_all_list" %}',
                multiselect: false,
                postData: {'shopNo': $("#shopNo").attr('data-id')},
                colNames: ['门店', '总金额', '明细'],
                colModel: [
                    {
                        name: 'shopNo', index: 'shopNo', width: 40, key: true,
                        formatter: function (cellValue, options, rowObject) {
                            return "<a href='/shop/shop/?shopNo=" + rowObject.shopNo + "'>" + rowObject.shopName + "</a>";
                        }
                    },
                    {name: 'totalAmount', index: 'totalAmount', width: 50},
                    {
                        name: '查看', width: 50,
                        formatter: function (cellValue, options, rowObject) {
                            return "<a href='javascript:void(0)'  onclick='statsDetail(\""+rowObject.shopNo + "\")'>查看</a>";
                        }
                    }
                ]
            };
            JucheapGrid.Load(config);
            $("#btnSearch").bind("click", searchData);
        });
    </script>


    <script type="text/javascript">
        laydate({
            elem: '#datemin',
            format: 'YYYY-MM', //日期格式
            event: 'focus'
        });

        $('#datemin').val(laydate.now(0, 'YYYY-MM'));
    </script>

{% endblock %}