{% extends 'base/_layout_content.html' %}
{% load staticfiles %}

{% block style %}

{% endblock %}


{% block content %}
    <div class="wrapper wrapper-content">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>添加用户</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-1-5 control-label">用户名：</label>
                        <div class="col-sm-9-5 disabled">
                            {{ form.username }}
                            {% autoescape off %}
                                {{ error.username }}
                            {% endautoescape %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1-5 control-label">密码：</label>
                        <div class="col-sm-9-5 disabled">
                            {{ form.password }}
                            {% autoescape off %}
                                {{ error.password }}
                            {% endautoescape %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1-5 control-label">确认密码：</label>
                        <div class="col-sm-9-5 disabled">
                            {{ form.password2 }}
                            {% autoescape off %}
                                {{ error.password2 }}
                            {% endautoescape %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9-5">
                            <button class="btn btn-info" type="submit" id="btnSave">保存</button>
                            <button class="btn btn-white" type="button" id="btnBack" data-type="url">返回</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}
